 /* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* set up */

* {
    margin: 0; 
    padding: 0;
}

/* body {
    font-family: 'Inconsolata', monospace;
} */

/* hero image */

.logo {
    background: url("../images/pic (2).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* header */

.name {
    font-family: 'Lato', sans-serif; 
    font-size: 40px; 
    margin-top: 70px;
    font-weight: 300;
}

.title {
    font-family: 'Inconsolata', monospace; 
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 60px;
    font-weight: 700;
}

.bg-color-name-title {
    min-height: 240px;
    background-color: lightgray;
    margin-left: 0;
}

.heading {
    color: darkslategray;
    margin-left: 10px;
}

/* navigations */

.menu-container {
    font-size: 0;
    margin-bottom: 0px;
}

#nav li {
    margin: 0;
    font-size: 14px;
    padding: 0;
    min-height: 120px;
}

.ui-menu-color-home {
    background-color: lightpink;
}

.ui-menu-color-resume {
    background-color: lightgreen;
}

.ui-menu-color-contact {
    background-color: lightblue;
}

.ui-menu-color-download {
    background-color: lightgoldenrodyellow;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 120px; 
}

.menuitem a i {
    padding-top:22px;
    display: block;
}

.menuitem span {
    width: 100%;
    padding-top: 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
}

/* hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0,0,0,0.2);
    height: 120px;
}

.hvr-sweep-to-bottom:hover {
    color: black;
}

/* footer */

h1,h2,h3,h4,h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

footer {
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
    background-color: lightgray;
    color: darkslategray;
    min-height: 120px;
    /* position: absolute;
    bottom: 0; */
}

.general-sub {
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
    color: darkslategray;
}

.cv-pdf i {
    font-size: 18px;
    color: darkslategray;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all  0.35s ease-in-out;
    -webkit-transition: all  0.35s ease-in-out;
    -o-transition: all  0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: orange;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    border: 1px solid darkslategray;
    background: darkslategray;
    transition: all 0.35s ease-in-out;
    -moz-transition: all  0.35s ease-in-out;
    -webkit-transition: all  0.35s ease-in-out;
    -o-transition: all  0.35s ease-in-out;
    color: lightgray;
}

.social-links li a i:hover {
    border: 1px solid orange;
    background: orange;
}

#footer-details {
    padding: 20px;
}

/* 3 reasons */

.bg-color-three-reasons {
    background-color: white;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding : 0 20px 20px;
    float: none;
}

.section-heading {
    font-family:  'Lato', sans-serif;
    font-weight: 300; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.three-reasons-icon {
    font-size: 25px;
    color: lightpink;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* personal info */

.bg-color-personal-info {
    background-color: #d86464;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key, .personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p, .personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 10px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    width: 60%;
    position: relative;
}

.personal-info-item .value p {}

/* work history */

.bg-color-work-history {
    background-color: green;
}

/* skills */

.bg-color-skills {
    background-color: white;
}